{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create a new list</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Create a new list</h1>
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type=text name="name">
                <button>Create</button>
                </form>
            </div>
        </main>
    </body>
   </html>

