{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Update View</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Update list</h1>
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type=text name=name>
                <button>Create</button>
                </form>
            </div>
        </main>
    </body>
   </html>

