<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <div> 
                    <p>
                        <a href="{% url 'todo_list_create' %}">Create a new list</a>
                        <a href="{% url 'todo_list_update' %}">Update</a>

                    </p>
                </div>
                <table class="TodoList-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of items</th>
                        </tr>
                    </thead>
                    {% for list in todo_list_list %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
    </body>
   </html>